a, a:hover {
    text-decoration: none;
    color: #666666;
}

a:hover {
    color:black;
}

.comment-text {
    min-height: 70px;
}

ul {
    list-style-type: none;
}

.media-body {
    display: inherit;
}
