<div class="ng-scope">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="users">
            <div class="row tab-wrapper row tab-wrapper-noscroll">
                <form class="form-inline" role="form">
                    <select class="form-control" ng-model="filterField" ng-options="k as v for (k,v) in filterOptions">
                    </select>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchString">
                    </div>
                    <button type="button" class="btn btn-default" ng-click="search()">Search</button>
                    <button type="button" class="btn btn-default" ng-click="searchString='';search();">Clear</button>
                </form>
                <div class="col-sm-8">
                    <div class="table-scroll">
                        <div>
                            <table class="users-grid table table-fixed  table-striped table-hover">
                                <thead ng-show="filteredUsers.length">
                                <tr>
                                    <th class="col-md-1"><a ng-click="setOrder('user.id')">№</a></th>
                                    <th class="col-md-3">Email</th>
                                    <th class="col-md-3"><a ng-click="setOrder('user.displayName')">Name</a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in filteredUsers  = usersGrid">
                                    <td>
                                        <span ng-bind="user.id"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="user.email"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="user.displayName"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                                <div class="btn-group">
                                    <ul class="pagination pull-left" ng-show="totalPages > 1">
                                        <button class="btn btn-default" type="button" ng-disabled="page == 1"
                                                ng-click="prev()">&laquo;</button>

                                        <li ng-repeat="p in getTimes(totalPages) track by $index">
                                            <button class="btn btn-default" type="button" ng-click="changePage($index)" ng-disabled="page == $index + 1">{{$index + 1}}</button>
                                        </li>

                                        <button class="btn btn-default" type="button" ng-disabled="page == totalPages"
                                                ng-click="next()">&raquo;</button>
                                    </ul>
                                </div>
                                <div class="btn-group pagination pull-right" ng-show="usersGrid.length !== 0">
                                    <button type="button" class="btn btn-default" ng-click="changeLimit(3)" ng-disabled="limit == 3">3</button>
                                    <button type="button" class="btn btn-default" ng-click="changeLimit(5)" ng-disabled="limit == 5">5</button>
                                    <button type="button" class="btn btn-default" ng-click="changeLimit(10)" ng-disabled="limit == 10">10</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spinner" style="display: none"></div>
            </div>
        </div>
    </div>
</div>