ol.progress-tracker {
    list-style-type: none;
}

ol.progress-tracker li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progress-tracker[data-progress-tracker-steps="2"] li {
    width: 49%;
}
ol.progress-tracker[data-progress-tracker-steps="3"] li {
    width: 33%;
}
ol.progress-tracker[data-progress-tracker-steps="4"] li {
    width: 24%;
}
ol.progress-tracker[data-progress-tracker-steps="5"] li {
    width: 19%;
}
ol.progress-tracker[data-progress-tracker-steps="6"] li {
    width: 16%;
}
ol.progress-tracker[data-progress-tracker-steps="7"] li {
    width: 14%;
}

ol.progress-tracker li.progress-tracker-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}

ol.progress-tracker li.progress-tracker-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progress-tracker li:after {
    content: "\00a0\00a0";
}
ol.progress-tracker li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progress-tracker li.progress-tracker-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progress-tracker li.progress-tracker-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}
