<?php
/**
 * Local Cache Configuration Override
 *
 * This is config file to override cache options
 *
 * @NOTE: This config file include memcached options,
 * you can put memcache options instead memcached
 * or another cache options. The memcached server is
 * "localhost" for default.
 *
 * Created by Kovalenko Viacheslav kovalenko_v@nixsolutions.com
 */
return array(
    'caches' => array(
        'memcached' => array(
            'adapter' => array(
                'name'     =>'memcached',
                'lifetime' => 3600,
                'options'  => array(
                    'servers'   => array(
                        array(
                            '127.0.0.1',
                            11211
                        )
                    ),
                    'namespace'  => 'project_memcached',
                    'liboptions' => array (
                        'COMPRESSION' => true,
                        'binary_protocol' => true,
                        'no_block' => true,
                        'connect_timeout' => 100
                    )
                )
            ),
            'plugins' => array(
                'exception_handler' => array(
                    'throw_exceptions' => false
                ),
            ),
        ),
    ),
);
