<?php

return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'params' => array(
                    'host'     => '{HOSTNAME}',
                    'dbname'   => '{DATABASE}',
                    'user'     => '{USERNAME}',
                    'password' => '{PASSWORD}',
                    'port'     => '{PORT}',
                ),
            )
        )
    )
);
