<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'facebook' => array(
            'appId' => '%appId%',
            'appSecret' => '%appSecret%',
        ),

    'twitter' => array(
        'siteUrl' => 'https://api.twitter.com/oauth',
        'authorizeUrl' => 'https://api.twitter.com/oauth/authenticate',
        'consumerKey' => '%consumerKey%',
        'consumerSecret' => '%consumerSecret%',
        'httpClientOptions' => array(
            'adapter' => 'Zend\Http\Client\Adapter\Curl',
            'curloptions' => array(
                CURLOPT_SSL_VERIFYHOST => false,
                CURLOPT_SSL_VERIFYPEER => false
            )
        )
    ),
);
